
const struct fc_lang_catalog* fc_lang_cat_find(const char* lang_code)
{
	const struct fc_lang_catalog* lang_ptr = fc_lang_cat;
	int i;
	int found = 0;
	for (i = 0; i < fc_lang_cat_sz; i++)
	{
		if (strcmp(lang_ptr->lang_code, lang_code) == 0)
		{
			found = 1;
			break;
		}
	}
	if (found)
		return lang_ptr;
	return 0;
}
